Yolo/object-detection-opencv/yolov3.weights
Yolo/object-detection-opencv/LondonBikeRideCityTour2022.mp4
SSD/LondonBikeRideCityTour2022.mp4
SSD/saida.avi
__pycache__/
SSD/__pycache__/ssd.cpython-310.pyc
